/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* Inside your global CSS file */
.toast-container {
    /* Your custom styles for Toastr notifications */
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
  }
  