form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  select, #basic-input {
    margin-bottom: auto;
    width: 100%;
    padding: 5px;
    border: 1px solid burlywood;
    border-radius: 4px;    
    background-color: rgb(231, 238, 238);
  }
  
  label {
    width: 1000px;
    font-weight: bold;
    font-size: x-large;
    font-style: oblique;
    color: #6d7df4;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(231, 238, 238);
    color: #6d7df4;
    border: 1px solid burlywood;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
    width: 80%;
  }


  .combined-input {
    display: flex; /* Arrange input and select side-by-side */
    width: 100%; /* Adjust width as needed */
    border: 1px solid #ccc; /* Add a common border */
    background-color: rgb(231, 238, 238);
    border-radius: 4px; /* Add rounded corners */
  }
  
  #inputText,
  #selectDropdown {
    padding: 5px; /* Consistent padding for both elements */
    border: none; /* Remove default borders */
    outline: none; /* Remove default outline */
  }
  
  #inputText{
    width: 50%;
  }
  #selectDropdown {
    -webkit-appearance: none; /* Remove default dropdown styling (optional) */
    appearance: none; /* Remove default dropdown styling (optional) */
    background-color: inherit; /* Inherit background color from .combined-input */
  }
  