nav {
    display: flex;
    border: 1px solid burlywood;
    justify-content: center;
    background-color: rgb(231, 238, 238) !important;
  }
  
  a {
    display: inline-block;
    margin-right: 25px;
    padding-left: 5px;
    border: 0px 1px 0px 0px solid black;
  }